{# Module styles #}

<style>
  {% scope_css %}

    {# Product tier #}

    .card__heading {
      {{ module.styles.product_tier.text.font.css }}
      {% if module.styles.product_tier.alignment.alignment.horizontal_align %}
        text-align: {{ module.styles.product_tier.alignment.alignment.horizontal_align }};
      {% endif %}
    }

    {# Product description #}

    .card__subtitle {
      {{ module.styles.product_description.text.font.css }}
      {% if module.styles.product_description.alignment.alignment.horizontal_align %}
        text-align: {{ module.styles.product_description.alignment.alignment.horizontal_align }};
      {% endif %}
    }

    {# Features #}

    .card__hr {
      background-color: rgba({{ module.styles.features.border.color.color|convert_rgb }}, {{ module.styles.features.border.color.opacity / 100 }});
      color: rgba({{ module.styles.features.border.color.color|convert_rgb }}, {{ module.styles.features.border.color.opacity / 100 }});
    }

    {% if module.styles.features.alignment.alignment.horizontal_align %}
      .card__features {
        text-align: {{ module.styles.features.alignment.alignment.horizontal_align }};
      }
    {% endif %}

    .card__feature-item {
      {{ module.styles.features.text.font.css }}
    }

    .card__icon svg {
      fill: {{ module.styles.features.icon.color.color }};
    }

    {# Price #}

    .card__price {
      {{ module.styles.price.text.font.css }}
      {% if module.styles.price.alignment.alignment.horizontal_align %}
        text-align: {{ module.styles.price.alignment.alignment.horizontal_align }};
      {% endif %}
    }

    {# Button wrapper #}

    {% if module.styles.button.alignment.alignment %}
      .button-wrapper {
        text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
      }
    {% endif %}

    {# Button #}

    .button {
      {% if module.styles.button.background.color.color %}
        background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.button.border.border.css }}
      {% if module.styles.button.corner.radius %}
        border-radius: {{ module.styles.button.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.button.text.font.css }}
      {{ module.styles.button.spacing.spacing.css }}
    }

    .button:hover,
    .button:focus {
      {% if module.styles.button.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.button.background.color.color, -80)|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
      {% endif %}
    }

    .button:active {
      {% if module.styles.button.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.button.background.color.color, 80)|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
      {% endif %}
    }

    {# Card #}

    .card {
      {% if module.styles.card.background.background_type == "color" and module.styles.card.background.color.color %}
        background-color: rgba({{ module.styles.card.background.color.color|convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
      {% elif module.styles.card.background.background_type == "gradient" %}
        background: {{ module.styles.card.background.gradient.css }};
      {% elif module.styles.card.background.background_type == "image" %}
        {{ module.styles.card.background.image.css }}
      {% endif %}
      {{ module.styles.card.border.border.css }}
      {% if module.styles.card.corner.radius %}
        border-radius: {{ module.styles.card.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.card.spacing.spacing.css }}
    }

  {% end_scope_css %}
</style>

{# Sets attributes used for the link field #}

{% set href = module.button_link.url.href %}
{% if module.button_link.url.type == 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' + href %}
{% endif %}
{% set rel = [] %}
{% if module.button_link.no_follow %}
  {% do rel.append('nofollow') %}
{% endif %}
{% if module.button_link.open_in_new_tab %}
  {% do rel.append('noopener') %}
{% endif %}

{# Pricing card #}

<section class="card card--pricing">
  {% if module.tier and module.description %}
    <div class="card__header">
      {% if module.tier %}
        <{{ module.tier_heading_type }} class="card__heading">{{ module.tier }}</{{ module.tier_heading_type }}>
      {% endif %}
      {% if module.description %}
        <p class="card__subtitle"> {{ module.description }}</p>
      {% endif %}
    </div>
  {% endif %}
  <hr class="card__hr">
  <div class="card__body">
    <ul class="card__features">
      {% for feature in module.features %}
        <li class="card__feature-item">
          {% icon
            extra_classes='card__icon',
            name='{{ module.feature_icon.name }}',
            purpose='decorative',
            style='{{ module.feature_icon.type }}',
            unicode='{{ module.feature_icon.unicode }}'
          %}{{ feature }}
        </li>
      {% endfor %}
    </ul>
    <hr class="card__hr">
    <p class="card__price">{{ module.price }}{{ module.timeframe }}</p>
    <div class="card__button-wrapper button-wrapper">
      <a class="card__button button" href="{{ href }}"
        {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(' ') }}"{% endif %}>
          {{ module.button_text }}
      </a>
    </div>
  </div>
</section>
