form input[type=submit],
form .hs-button,
form input[type=submit]:active,
form .hs-button:active,
button,
.button,
button:active,
.button:active {
  background-color: rgba({{ theme.buttons.primary.background_color.color|convert_rgb }}, {{ theme.buttons.primary.background_color.opacity / 100 }});
  border: {{ theme.buttons.primary.border_width ~ 'px solid ' ~ theme.buttons.primary.border_color.color }};
  border-radius: {{ theme.buttons.primary.border_radius ~ 'px' }};
  cursor: pointer;
  color: rgba({{ theme.buttons.primary.color.color|convert_rgb }}, {{ theme.buttons.primary.color.opacity / 100 }});
  display: inline-block;
  font-size: {{ theme.buttons.primary.font.size ~ theme.buttons.primary.font.size_unit }};
  letter-spacing: {{ theme.buttons.primary.letter_spacing }};
  line-height: {{ theme.buttons.primary.line_height }};
  padding: {{ theme.buttons.primary.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.primary.horizontal_padding ~ 'px' }};
  text-transform: {{ theme.buttons.primary.text_transform }};
  text-decoration: none;
  text-align: center;
  {# transition: all 0.15s linear; #}
  white-space: normal;
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  button,
  .button,
  form input[type=submit],
  form .hs-button,
  form input[type=submit]:active,
  form .hs-button:active {
    border-radius: {{ theme.buttons.primary.tablet.border_radius ~ 'px' }};
    font-size: {{ theme.buttons.primary.tablet.font_size ~ theme.buttons.primary.font.size_unit }};
    padding: {{ theme.buttons.primary.tablet.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.primary.tablet.horizontal_padding ~ 'px' }};
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  form input[type=submit],
  form .hs-button,
  form input[type=submit]:active,
  form .hs-button:active,
  button,
  .button, {
    border-radius: {{ theme.buttons.primary.desktop.border_radius ~ 'px' }};
    font-size: {{ theme.buttons.primary.desktop.font_size ~ theme.buttons.primary.font.size_unit }};
    padding: {{ theme.buttons.primary.desktop.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.primary.desktop.horizontal_padding ~ 'px' }};
  }
}

button:hover,
button:focus,
.button:hover,
.button:focus,
form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: rgba({{ theme.buttons.primary.hover.background_color.color|convert_rgb }}, {{ theme.buttons.primary.hover.background_color.opacity / 100 }});
  border-color: rgba({{ theme.buttons.primary.hover.border_color.color|convert_rgb }}, {{ theme.buttons.primary.hover.border_color.opacity / 100 }});
  color: rgba({{ theme.buttons.primary.hover.color.color|convert_rgb }}, {{ theme.buttons.primary.hover.color.opacity / 100 }});
  text-decoration: none;
  {% if theme.buttons.primary.hover.scale %}
    transform: scale({{theme.buttons.primary.hover.scale}})
  {% endif %}
}

.button.button--secondary,
.button.button--secondary:active {
  background-color: rgba({{ theme.buttons.secondary.background_color.color|convert_rgb }}, {{ theme.buttons.secondary.background_color.opacity / 100 }});
  border: {{ theme.buttons.secondary.border_width ~ 'px solid ' ~ theme.buttons.secondary.border_color.color }};
  border-radius: {{ theme.buttons.secondary.border_radius ~ 'px' }};
  color: rgba({{ theme.buttons.secondary.color.color|convert_rgb }}, {{ theme.buttons.secondary.color.opacity / 100 }});
  font-size: {{ theme.buttons.secondary.font.size ~ theme.buttons.secondary.font.size_unit }};
  letter-spacing: {{ theme.buttons.secondary.letter_spacing }};
  line-height: {{ theme.buttons.secondary.line_height }};
  padding: {{ theme.buttons.secondary.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.secondary.horizontal_padding ~ 'px' }};
  text-transform: {{ theme.buttons.secondary.text_transform }};
}

.button.button--secondary:hover,
.button.button--secondary:focus {
  background-color: rgba({{ theme.buttons.secondary.hover.background_color.color|convert_rgb }}, {{ theme.buttons.secondary.hover.background_color.opacity / 100 }});
  border-color: {{ theme.buttons.secondary.hover.border_color.color }};
  color: rgba({{ theme.buttons.secondary.hover.color.color|convert_rgb }}, {{ theme.buttons.secondary.hover.color.opacity / 100 }});
  text-decoration: none;
  {% if theme.buttons.secondary.hover.scale %}
  transform: scale({{theme.buttons.secondary.hover.scale}})
  {% endif %}
}


button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}
