

/* Form fields */

.hs-form-field {
  margin-bottom: 1.4rem;
}

/* Labels */

form label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.35rem;
}

/* Help text - legends */

form legend {
  font-size: 0.875rem;
}

/* Inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  background-color: #FFF;
  border: 2px solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.7rem;
  width: 100%;
}

form fieldset {
  max-width: 100% !important;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

form .inputs-list > li {
  display: block;
  margin: 0.7rem 0;
}

form .inputs-list input,
form .inputs-list span {
  vertical-align: middle;
}

form input[type=checkbox],
form input[type=radio] {
  cursor: pointer;
  margin-right: 0.35rem;
}

/* Inputs - datepicker */

.hs-dateinput {
  position: relative;
}

.hs-dateinput:before {
  content:'\01F4C5';
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
  border-radius: 0 !important;
  color: #FFF;
}

/* Inputs - file picker */

form input[type=file] {
  background-color: transparent;
  border: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: 0.875rem;
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: #EF6B51;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
}

.hs-error-msg {
  color: #EF6B51;
  margin-top: 0.35rem;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  cursor: pointer;
  display: inline-block;
  font-size: 0.92rem;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}


form,
.submitted-message {
{{ body_font.style }};
}

/* Form title */

.form-title {
background-color: {{ form_title_bg_color }};
color: {{ form_title_font_color }};
}

/* Form label */

form label {
  color: {{ form_label_font_color }};
}

/* Form help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Form inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  border-color: {{ form_input_border_color }};
color: {{ body_font.color }};
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  border-color: {{ form_input_focus_border_color }};
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: {{ body_font.color }};
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ body_font.color }};
}

/* Date picker */

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */
/**
form input[type=submit],
form .hs-button,
form input[type=submit]:active,
form .hs-button:active {
  background-color: {{ theme.buttons.primary.background_color.color }};
  border: {{ theme.buttons.primary.border_width ~ 'px solid ' ~ theme.buttons.primary.border_color.color }};
  border-radius: {{ theme.buttons.primary.border_radius ~ 'px' }};
  cursor: pointer;
  color: {{ theme.buttons.primary.font.color }};
  display: inline-block;
  font-size: 0.92rem;
  letter-spacing: {{ theme.buttons.primary.letter_spacing }};
  line-height: {{ theme.buttons.primary.line_height }};
  padding: {{ theme.buttons.primary.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.primary.horizontal_padding ~ 'px' }};
  text-transform: {{ theme.buttons.primary.text_transform }};
  text-decoration: none;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
  background-color: {{ theme.buttons.primary.background_color_hover.color }};
  border-color: {{ theme.buttons.primary.border_color_hover.color }};
  color: {{ theme.buttons.primary.color_hover.color }};
  text-decoration: none;
}*/


