/* Table */

table {
  background-color: {{ table_bg_color }};
  border-color: {{ table_border_color }};
  border: 1px solid;
  margin-bottom: 1.4rem;
  overflow-wrap: break-word;
}

/* Table Cells */

th,
td {
  border-color: {{ table_border_color }};
  border: 1px solid;
  color: {{ table_font_color }};
  padding: 0.75rem;
  vertical-align: top;
}

/* Table Header */

thead th,
thead td {
  background-color: {{ table_head_bg_color }};
  border-bottom-color: {{ table_border_color }};
  border-bottom: 2px solid;
  color: {{ table_head_font_color }};
  vertical-align: bottom;
}


tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}
