:root {
{% for  key, obj in theme.typography.items() %}
  {% for  prop, value in obj.items() %}
    {% if prop == 'font' %}
      --{{ key }}-font-family: {{ value.font }}{% if value.fallback %}, {{ value.fallback }}{% endif %};
      {% elif prop == 'font_size_tablet'%}
      {% elif prop == 'font_size_desktop'%}
      {% elif prop == 'link_color'%}
      {% elif prop == 'link_hover_color'%}
    {% else %}
    {% endif %}
  {% endfor %}
{% endfor %}
}

{% for  key, obj in theme.typography.items() %}
{% set name = key %}
{% if key == 'base' %}
  {% set name = 'body' %}
{% endif %}
{{ name }} {
  {% for  prop, value in obj.items() %}
    {% if prop == 'font' %}
      {{ value.style }}
    {% elif prop == 'font_size_tablet'%}
    {% elif prop == 'font_size_desktop'%}
    {% elif prop == 'link_color'%}
    {% elif prop == 'link_hover_color'%}
    {% else %}
      {{ prop|replace('_', '-') }}: {{ value }};
    {% endif %}
  {% endfor %}
}
{% endfor %}


{% for  key, obj in theme.typography.items() %}
  {% for  prop, value in obj.items() %}

    {% if prop == 'link_color'%}
      {% if key == 'base' %}
        {% set key = '' %}
      {% endif %}

      {{ key }} a {
      color: rgba({{ value.color|convert_rgb }}, {{ value.opacity / 100 }});
      }
    {% endif %}
    {% if prop == 'link_hover_color'%}
      {% if key == 'base' %}
        {% set key = '' %}
      {% endif %}

      {{ key }} a:hover, {{ key }} a:focus, {{ key }} a:active {
      color: rgba({{ value.color|convert_rgb }}, {{ value.opacity / 100 }});
      }
    {% endif %}
  {% endfor %}
{% endfor %}

{# responsive tags  #}
@media (min-width: 767px) {
  {% for  key, obj in theme.typography.items() %}
    {% for  prop, value in obj.items() %}
      {% if prop == 'font_size_tablet'%}
        {% if value != theme.typography[key].font.size %}
          {{ key }} {
            font-size: {{ value }}{{ theme.typography[key].font.size_unit }};
          }
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
}

@media (min-width: 1200px) {
{% for  key, obj in theme.typography.items() %}
  {% for  prop, value in obj.items() %}
    {% if prop == 'font_size_desktop'%}
      {% if value != theme.typography[key].font_size_tablet %}
        {{ key }} {
        font-size: {{ value }}{{ theme.typography[key].font.size_unit }};
        }
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

{#
body {
  line-height: 1.4;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

html {
  font-size: {{ body_font.size ~ body_font.size_unit }};
}

body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: {{ body_font.color }};
  font-size: {{ body_font.size ~ body_font.size_unit }};
  line-height: {{ body_line_height }};
  letter-spacing: {{ body_letter_spacing ~ paragraph.size_unit }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  body {
    font-size: {{ body_font_size_tablet ~ body_font.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  body {
    font-size: {{ body_font_size_desktop ~ body_font.size_unit }}
  }
}


/* Anchors */

a,
a:active {
  cursor: pointer;
  text-decoration: none;
  color: {{ anchor_font_color }};
}

a:hover,
a:focus {
  text-decoration: underline;
  color: {{ anchor_hover_font_color }};
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.4rem;
}

/* Paragraphs */
p {
  font-family: "Helvetica Neue Reg";
  color: {{ paragraph.color }};
  font-size: {{ paragraph.size ~ paragraph.size_unit }};
  line-height: {{ paragraph_line_height }};
  letter-spacing: {{ paragraph_letter_spacing ~ paragraph.size_unit }};
  text-transform: {{ paragraph_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  p {
    font-size: {{ paragraph_font_size_tablet ~ paragraph.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  p {
    font-size: {{ paragraph_font_size_desktop ~ paragraph.size_unit }}
  }
}

h1 {
  font-family: "DIN Next";
  color: {{ heading_one.color }};
  font-size: {{ heading_one.size ~ heading_one.size_unit }};
  line-height: {{ heading_one_line_height }};
  letter-spacing: {{ heading_one_letter_spacing ~ heading_one.size_unit }};
  text-transform: {{ heading_one_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h1 {
    font-size: {{ heading_one_font_size_tablet ~ heading_one.size_unit }}
  }

}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h1 {
    font-size: {{ heading_one_font_size_desktop ~ heading_one.size_unit }}
  }
}

h2 {
  font-family: "DIN Next";
  color: {{ heading_two.color }};
  font-size: {{ heading_two.size ~ heading_two.size_unit }};
  line-height: {{ heading_two_line_height }};
  letter-spacing: {{ heading_two_letter_spacing ~ heading_two.size_unit }};
  text-transform: {{ heading_two_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h2 {
    font-size: {{ heading_two_font_size_tablet ~ heading_two.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h2 {
    font-size: {{ heading_two_font_size_desktop ~ heading_two.size_unit }}
  }
}

h3 {
  font-family: "DIN Next";
  color: {{ heading_three.color }};
  font-size: {{ heading_three.size ~ heading_three.size_unit }};
  line-height: {{ heading_three_line_height }};
  letter-spacing: {{ heading_three_letter_spacing ~ heading_three.size_unit }};
  text-transform: {{ heading_three_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h3 {
    font-size: {{ heading_three_font_size_tablet ~ heading_three.size_unit }}
  }

}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h3 {
    font-size: {{ heading_three_font_size_desktop ~ heading_three.size_unit }}
  }
}

h4 {
  font-family: "DIN Next";
  color: {{ heading_four.color }};
  font-size: {{ heading_four.size ~ heading_four.size_unit }};
  line-height: {{ heading_four_line_height }};
  letter-spacing: {{ heading_four_letter_spacing ~ heading_four.size_unit }};
  text-transform: {{ heading_four_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h4 {
    font-size: {{ heading_four_font_size_tablet ~ heading_four.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h4 {
    font-size: {{ heading_four_font_size_desktop ~ heading_four.size_unit }}
  }
}

h5 {
  font-family: "DIN Next";
  color: {{ heading_five.color }};
  font-size: {{ heading_five.size ~ heading_five.size_unit }};
  line-height: {{ heading_five_line_height }};
  letter-spacing: {{ heading_five_letter_spacing ~ heading_five.size_unit }};
  text-transform: {{ heading_five_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h5 {
    font-size: {{ heading_five_font_size_tablet ~ heading_five.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h5 {
    font-size: {{ heading_five_font_size_desktop ~ heading_five.size_unit }}
  }
}


h6 {
  font-family: "DIN Next";
  color: {{ heading_six.color }};
  font-size: {{ heading_six.size ~ heading_six.size_unit }};
  line-height: {{ heading_six_line_height }};
  letter-spacing: {{ heading_six_letter_spacing ~ heading_six.size_unit }};
  text-transform: {{ heading_six_text_transform }};
}

@media screen and (min-width: {{ screen_sm_min}} ) {
  h6 {
    font-size: {{ heading_six_font_size_tablet ~ heading_six.size_unit }}
  }
}

@media screen and (min-width: {{ screen_lg_min}} ) {
  h6 {
    font-size: {{ heading_six_font_size_desktop ~ heading_six.size_unit }}
  }
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

li  {
  {{ list.style }};
  color: {{ list.color }};
  font-size: {{ list.size ~ list.size_unit }};
  line-height: {{ list_line_height }};
  letter-spacing: {{ list_letter_spacing ~ list.size_unit }};
  text-transform: {{ list_text_transform }};
}

{% if list_font_size_tablet != list.size %}
  @media screen and (min-width: {{ screen_sm_min}} ) {
    li {
      font-size: {{ list_font_size_tablet ~ list.size_unit }}
    }
  }
{% endif %}
{% if list_font_size_desktop != list.size %}
  @media screen and (min-width: {{ screen_lg_min}} ) {
    li {
      font-size: {{ list_font_size_desktop ~ list.size_unit }}
    }
  }
{% endif %}

ul.no-list {
  list-style: none;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */
blockquote  {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 15px;
  border-left-color: {{ secondary_color }};
  {{ list.style }};
  color: {{ list.color }};
  font-size: {{ list.size ~ list.size_unit }};
  line-height: {{ list_line_height }};
  letter-spacing: {{ list_letter_spacing ~ list.size_unit }};
  text-transform: {{ list_text_transform }};
}

{% if blockquote_font_size_tablet != blockquote.size %}
  @media screen and (min-width: {{ screen_sm_min}} ) {
    blockquote {
      font-size: {{ blockquote_font_size_tablet ~ blockquote.size_unit }}
    }
  }
{% endif %}
{% if blockquote_font_size_desktop != blockquote.size %}
  @media screen and (min-width: {{ screen_lg_min}} ) {
    blockquote {
      font-size: {{ blockquote_font_size_desktop ~ blockquote.size_unit }}
    }
  }
{% endif %}


/* Horizontal rules */
hr {
  background-color: rgba({{ color_variant(theme.typography.hr_group.color.color, -40)|convert_rgb }}, {{ theme.typography.hr_group.color.opacity / 100 }});
  border: none;
  color: rgba({{ color_variant(theme.typography.hr_group.color.color, -40)|convert_rgb }}, {{ theme.typography.hr_group.color.opacity / 100 }});
  height: {{ theme.typography.hr_group.height }}px;
}

/* Image alt text */

img {
  font-size: 14px;
  word-break: normal;
}

p.large {
  font-size: 20px;
  line-height: 32px;
}
#}
