{# Set layout style #}
{% if module.layout_style == 'card' %}
  {% set list_type = 'card' %}
{% elif module.layout_style == 'list' %}
  {% set list_type = 'list' %}
{% endif %}

<section class="blog-index">

  {# Blog author/tag header #}
  {% if blog_author || tag %}
    <div class="blog-subheader">
      {% if blog_author %}
        <p>Posts by</p>
        <h2>{{ blog_author.display_name }}</h2>
        {% if blog_author.has_social_profiles %}
          <div class="blog-subheader__author-links">
            {% if blog_author.website %}
              <a href="{{ blog_author.website }}" target="_blank" rel="noopener">
                {% icon
                  name='link',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on my website',
                  width='10'
                %}
              </a>
            {% endif %}
            {% if blog_author.facebook %}
              <a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
                {% icon
                  name='facebook-f',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Facebook',
                  width='10'
                %}
              </a>
            {% endif %}
            {% if blog_author.linkedin %}
              <a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
                {% icon
                  name='linkedin-in',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on LinkedIn',
                  width='18'
                %}
              </a>
            {% endif %}
            {% if blog_author.twitter %}
              <a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
                {% icon
                  name='twitter',
                  purpose='semantic',
                  style='SOLID',
                  title='Follow me on Twitter',
                  width='18'
                %}
              </a>
            {% endif %}
          </div>
        {% endif %}
        <p>{{ blog_author.bio }}</p>
      {% elif tag %}
        <p>Posts about:</p>
        <h2>{{ page_meta.html_title|split(' | ')|last }}</h2>
      {% endif %}
    </div>
  {% endif %}
  {# End blog author/tag header #}

  {% for content in contents %}

    {# Blog listing article #}
    <article class="blog-index__post blog-index__post--{{ list_type }}">

      {# Featured image #}
      {# This checks to see if a user is opted into the blog listing editing experience. If they are it uses the conditional from the module. If they are not it uses the conditional from blog settings #}
      {% if blog.listing_page_id %}
        {% if content.featured_image and module.featured_image %}
          <div class="blog-index__post-image-wrapper blog-index__post-image-wrapper--{{ list_type }}">
            <img class="blog-index__post-image blog-index__post-image--{{ list_type }}" src="{{ content.featured_image }}" loading="lazy" alt="{{ content.featured_image_alt_text }}">
          </div>
        {% endif %}
      {% else %}
        {% if content.featured_image and group.use_featured_image_in_summary %}
          <div class="blog-index__post-image-wrapper blog-index__post-image-wrapper--{{ list_type }}">
            <img class="blog-index__post-image blog-index__post-image--{{ list_type }}" src="{{ content.featured_image }}" loading="lazy" alt="{{ content.featured_image_alt_text }}">
          </div>
        {% endif %}
      {% endif %}
      {# End featured image #}

      {# Article body #}
      <section class="blog-index__post-content blog-index__post-content--{{ list_type }} {% if !content.featured_image or !group.use_featured_image_in_summary or !module.featured_image %}blog-index__post-content--full-width{% endif %}">

        {# Tags #}
        {% if module.tags and content.tag_list %}
          <div class="blog-index__post-tags blog-index__post-tags--{{ list_type }}">
            {% for tag in content.tag_list %}
              <a class="blog-index__post-tag-link blog-index__post-tag-link--{{ list_type }}" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}{% if !loop.last%},{% endif %}</a>
            {% endfor %}
          </div>
        {% endif %}
        {# End tags #}

        {# Title #}
        {% if module.post_title %}
          <h3 class="blog-index__post-title blog-index__post-title--{{ list_type }}"><a href="{{ content.absolute_url }}">{{ content.name }}</a></h3>
        {% endif %}
        {# End title #}

        {# Date #}
        {% if module.publish_date %}
          <time class="blog-index__post-date blog-index__post-date--{{ list_type }}" datetime="{{ content.publish_date }}">{{ content.publish_date_localized }}</time>
        {% endif %}
        {# End date #}

        {# Summary #}
        {# This checks to see if a user is opted into the blog listing editing experience. If they are it uses the conditional from the module. If they are not it uses the conditional from blog settings #}
        {% if blog.listing_page_id %}
          {% if module.description %}
            <div class="blog-index__post-post-summary blog-index__post-post-summary--{{ list_type }}">
              {% if content.post_body is string_containing "<!--more-->" %}
                {{ content.post_list_content }}
              {% else %}
                {{ content.post_list_content|truncatehtml(170) }}
              {% endif %}
            </div>
          {% endif %}
        {% else %}
          {% if content_group.show_summary_in_listing %}
            <div class="blog-index__post-post-summary blog-index__post-post-summary--{{ list_type }}">
            {% if content.post_body is string_containing "<!--more-->" %}
              {{ content.post_list_content }}
            {% else %}
              {{ content.post_list_content|truncatehtml(170) }}
            {% endif %}
            </div>
          {% endif %}
        {% endif %}
        {# End summary #}

        {# Author #}
        {% if module.author %}
          <div class="blog-index__post-author blog-index__post-author--{{ list_type }}">
            {% if content.blog_author.avatar %}
              <div class="blog-index__post-author-image-wrapper blog-index__post-author-image-wrapper--{{ list_type }}">
                <img class="blog-index__post-author-image blog-index__post-author-image--{{ list_type }}" src="{{ content.blog_author.avatar }}" width="45" loading="eager" alt="{{ content.blog_post_author.display_name }}">
              </div>
            {% endif %}
            <a class="blog-index__post-author-name blog-index__post-author-name--{{ list_type }}" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a>
          </div>
        {% endif %}
        {# End author #}

        {# Read more button #}
        {% if module.read_more %}
          <a class="blog-index__post-button blog-index__post-button--{{ list_type }} button" href="{{ content.absolute_url }}">{{ module.read_more_text }}</a>
        {% endif %}
        {# End read more button #}

      </section>
      {# End article body #}

    </article>
    {# End blog listing article #}

  {% endfor %}
</section>