{% set column_layout = module.layout.column_layout|split(',',2) %}

{% set col_1_size = "col-md-" ~ column_layout[0] %}
{% set col_2_size = "col-md-" ~ column_layout[1] %}

{% if module.layout.cols_alignment == "top" %}
  {% set cols_align = "align-items-start" %}
{% endif %}

{% if module.layout.cols_alignment == "center" %}
  {% set cols_align = "align-items-center" %}
{% endif %}

{% if module.layout.cols_alignment == "bottom" %}
  {% set cols_align = "align-items-end" %}
{% endif %}

<div class="hero-banner" id ="{{name}}">

  <div class="{{ module.styles.width }}">

    <div class="row {{cols_align}}">

      <div class="{{ col_1_size }} hero-banner__column-1">
        {{ module.column_1.column_content }}

        {% if module.column_1.show_button %}
          {% import '../../macros/modules/link.html' as linkMacro %}
          {{ linkMacro.button(module.column_1.button.button_link, module.column_1.button.button_type, module.column_1.button.button_text ) }}
        {% endif %}
      </div>

      {% if module.layout.number_of_columns >= "2" %}
        <div class="{{ col_2_size }} hero-banner__column-2">
          {{ module.column_2.column_content }}

          {% if module.column_2.show_button %}
            {% import '../../macros/modules/link.html' as linkMacro %}
            {{ linkMacro.button(module.column_2.button.button_link, module.column_2.button.button_type, module.column_2.button.button_text ) }}
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
  {% if module.styles.background_settings.overlay %}<div class="hero-banner__overlay"></div>{% endif %}
</div>

{% import '../../macros/modules/style.html' as styleMacro %}
{{ styleMacro.style(module.styles, name ) }}

{% require_css %}

  <style>
    {% if module.styles.background_settings.overlay %}
      #{{name}} .hero-banner__overlay {
        background-color: rgba({{ module.styles.background_settings.overlay_color.color|convert_rgb }}, {{ module.styles.background_settings.overlay_color.opacity / 100 }});
      }
    {% endif %}

    #{{name}} .hero-banner__column-1 {
      background-color: rgba({{ module.column_1.style.background_color.color|convert_rgb }}, {{ module.column_1.style.background_color.opacity / 100 }});
      color: rgba({{ module.column_1.style.font_color.color|convert_rgb }}, {{ module.column_1.style.font_color.opacity / 100 }});
      text-align: {{ module.column_1.style.content_alignment_mobile }};
    }

    {% if module.layout.number_of_columns >= "2" %}
      #{{name}} .hero-banner__column-2 {
        background-color: rgba({{ module.column_2.style.background_color.color|convert_rgb }}, {{ module.column_2.style.background_color.opacity / 100 }});
        color: rgba({{ module.column_2.style.font_color.color|convert_rgb }}, {{ module.column_2.style.font_color.opacity / 100 }});
        text-align: {{ module.column_2.style.content_alignment_mobile }};
      }
    {% endif %}

    {# @media screen and (max-width: 767px) {} #}
    @media screen and (min-width: 768px) {
      #{{name}} .hero-banner__column-1 {
        text-align: {{ module.column_1.style.content_alignment_tablet }};
      }

      {% if module.layout.number_of_columns >= "2" %}
        #{{name}} .hero-banner__column-2 {
          text-align: {{ module.column_2.style.content_alignment_tablet }};
        }
      {% endif %}
    }
    @media screen and (min-width: 992px) {
      #{{name}} .hero-banner__column-1 {
        text-align: {{ module.column_1.style.content_alignment_desktop }};
      }

      {% if module.layout.number_of_columns >= "2" %}
        #{{name}} .hero-banner__column- {
          text-align: {{ module.column_2.style.content_alignment_desktop }};
        }
      {% endif %}
    }
  </style>
{% end_require_css %}

