.hero-banner {
    position: relative;
}

.hero-banner__column-1,
.hero-banner__column-2 {
    position: relative;
    z-index: 2;
}

.hero-banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
