{% set column_layout = module.layout.column_layout|split(',',2) %}

{% if module.layout.media_position == 'top' or module.layout.media_position == 'bottom'%}
  {% set col_1_size = "col-12" %}
  {% set col_2_size = "col-12" %}
{% else %}
  {% set col_1_size = "col-md-" ~ column_layout[0] %}
  {% set col_2_size = "col-md-" ~ column_layout[1] %}
{% endif %}

{% if module.layout.cols_alignment == "top" %}
  {% set cols_align = "align-items-start" %}
{% endif %}

{% if module.layout.cols_alignment == "center" %}
  {% set cols_align = "align-items-center" %}
{% endif %}

{% if module.layout.cols_alignment == "bottom" %}
  {% set cols_align = "align-items-end" %}
{% endif %}

<div class="text-media" id ="{{name}}">

  <div class="{{ module.styles.width }}">
    <div class="row {{cols_align}}">

      <div class="{{ col_1_size }} text-media__image">
        {% if module.layout.media_type == 'image' %}
          {% if module.media.image.src %}
            {% set sizeAttrs = 'width="{{ module.media.image.width }}" height="{{ module.media.image.height }}"' %}
            {% if module.media.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.media.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.media.image.max_width }}" height="{{ module.media.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
            {% endif %}

            {% set loadingAttr = 'loading="' ~ module.media.image.loading ~ '"' %}
            <img src="{{ module.media.image.src }}" alt="{{ module.media.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        {% endif %}
      </div>

      <div class="{{ col_2_size }} text-media__text">
        {{ module.text.column_content }}

        {% if module.text.show_button %}
          {% import '../../macros/modules/link.html' as linkMacro %}
          {{ linkMacro.button(module.text.button.button_link, module.text.button.button_type, module.text.button.button_text ) }}
        {% endif %}
      </div>

    </div>

  </div>
  {% if module.styles.background_settings.overlay %}<div class="text-media__overlay"></div>{% endif %}
</div>

{% import '../../macros/modules/style.html' as styleMacro %}
{{ styleMacro.style(module.styles, name ) }}

{% require_css %}
  <style>
    {% if module.styles.background_settings.overlay %}
      #{{name}} .text-media__overlay {
        background-color: rgba({{ module.styles.background_settings.overlay_color.color|convert_rgb }}, {{ module.styles.background_settings.overlay_color.opacity / 100 }});
      }
    {% endif %}

    #{{name}} .text-media__text {
      background-color: rgba({{ module.text.style.background_color.color|convert_rgb }}, {{ module.text.style.background_color.opacity / 100 }});
      color: rgba({{ module.text.style.font_color.color|convert_rgb }}, {{ module.text.style.font_color.opacity / 100 }});
      text-align: {{ module.text.style.content_alignment_mobile }};
      padding-bottom: calc(var(--spacer-m) * .5);
      padding-top: calc(var(--spacer-m) * .5);
    }

    @media screen and (min-width: 768px) {

      {% if module.layout.media_position == 'right' %}
          #{{ name }} .row {
            flex-direction: row-reverse;
          }

          #{{ name }} .text-media__image {
              padding-left: 0;
          }
      {% endif %}

      {% if module.layout.media_position == 'left' %}
          #{{ name }} .text-media__image {
              padding-right: 0;
          }
      {% endif %}

   }

    @media screen and (min-width: 768px) and (max-width: 991px) {
      #{{name}} .text-media__text {
        text-align: {{ module.text.style.content_alignment_tablet }};

      }
    }
    @media screen and (min-width: 992px) {
      #{{name}} .text-media__text {
        text-align: {{ module.text.style.content_alignment_desktop }};
      }
    }
  </style>
{% end_require_css %}

