.text-media {
    position: relative;
}

.text-media__text,
.text-media__image {
    position: relative;
    z-index: 2;
}

.text-media__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
