{% include "../standard_stylings.html" %}
<div class="row-fluid-wrapper dnd-row" id="{{ id }}">
    <div class="row-fluid ">
        {{ content }}
    </div><!--end row-->
</div><!--end row-wrapper -->
