<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content" class="header__skip">Skip to content</a>

  {# Top header drag and drop area #}

  {% dnd_area
    'header-top',
    label='Top header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

  {# Main header #}

  {#  #}
  <div class="header__container content-wrapper">

    <div class="header__logo header__logo--main">

    </div>

    <div class="header__column">

      <div class="header__row-1">
        <div class="header__search header--element">

        </div>
      </div>

      <div class="header__row-2">
        <div class="header--toggle header__navigation--toggle"></div>
        <div class="header--toggle header__search--toggle"></div>
        <div class="header__close--toggle"></div>
        <div class="header__navigation header--element">

          {% module 'menu',
            path='../../modules/menu',
            label='Primary navigation'
          %}
        </div>
      </div>

    </div>

  </div>

  {# Bottom header drag and drop area #}

  {% dnd_area
    'header-bottom',
    label='Bottom header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

</header>
