{% macro recent_post(post, count, total) %}
{% if count == 1 %}
<section class="blog-related-posts">
  <h2 class="blog-related-posts__title">Related Articles</h2>
  <div class="blog-related-posts__list">
{% endif %}
<article class="related-post">
  {% if post.featured_image %}
    <div class="related-post__image-wrapper">
      <a href="{{ post.absolute_url }}">
        <img class="related-post__image" src="{{ post.featured_image }}" loading="lazy" alt="{{ post.featured_image_alt_text }}">
      </a>
    </div>
  {% endif %}
  <section class="related-post__content">
    {% if post.tag_list %}
      <div class="related-post__tags">
        {% for tag in post.tag_list %}
          <a class="related-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    {% endif %}
    <h3 class="related-post__title"><a href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
    <div class="related-post__post-summary">{{ post.post_list_content|truncatehtml(170) }}</div>
    <div class="related-post__author">
      {% if post.blog_author.avatar %}
        <div class="related-post__author-image-wrapper">
          <img class="related-post__author-image" src="{{ post.blog_author.avatar }}" width="45" loading="eager" alt="{{ post.blog_post_author.display_name }}">
        </div>
      {% endif %}
        <a class="related-post__author-name" href="{{ group.absolute_url }}/author/{{ post.blog_post_author.slug }}">{{ post.blog_post_author.display_name }}</a>
    </div>
    <a class="related-post__button button button" href="{{ post.absolute_url }}">Read More</a>
  </section>
</article>
{% if count == total %}
  </div>
</section>
{% endif %}
{% endmacro %}

{% related_blog_posts limit=2, post_formatter="recent_post", no_wrapper=True %}