{% if label !== '' %}<!-- label: {{ label }} -->{% endif %}
{% include "../standard_stylings.html" %}
<div class="dnd-area container-fluid {{ class }}">
  <div class="row-fluid-wrapper">
    <div class="row-fluid">
      <div class="span12 widget-span widget-type-cell">
        {{ content }}
      </div>
    </div>
  </div>
</div>

