{# Module styles #}

<style>
  {% scope_css %}

    {# Button wrapper #}

    {% if module.styles.alignment.alignment %}
      .button-wrapper {
        text-align: {{ module.styles.alignment.alignment.horizontal_align }};
      }
    {% endif %}

    {# Button #}

    .button {
      {% if module.styles.background.color.color %}
        background-color: rgba({{ module.styles.background.color.color|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
      {% endif %}
      {{ module.styles.border.border.css }}
      {% if module.styles.corner.radius %}
        border-radius: {{ module.styles.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.text.font.css }}
      {{ module.styles.spacing.spacing.css }}
    }

    .button:hover,
    .button:focus {
      {% if module.styles.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.background.color.color, -80)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
      {% endif %}
    }

    .button:active {
      {% if module.styles.background.color.color %}
        background-color: rgba({{ color_variant(module.styles.background.color.color, 80)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
      {% endif %}
    }

  {% end_scope_css %}
</style>

{# Sets attributes used for the link field #}

{% set href = module.link.url.href %}
{% if module.link.url.type == 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' + href %}
{% endif %}
{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append('nofollow') %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append('noopener') %}
{% endif %}

{# Button #}

<div class="button-wrapper">
  <a class="button" href="{{ href }}"
  {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
  {% if rel %}rel="{{ rel|join(' ') }}"{% endif %}
  >
    {{ module.button_text }}
  </a>
</div>
