<!-- dnd_section -->
{% include "../standard_stylings.html" %}

<div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section" id="{{ id }}">
  <div class="row-fluid ">
    {{ content }}
  </div><!--end row-->
</div><!--end row-wrapper -->
