{# Module styles #}

<style>
  {% scope_css %}

    {# Image #}

    {% if module.styles.image.corner.radius %}
      .card__image {
        border-radius: {{ module.styles.image.corner.radius ~ 'px' }};
      }
    {% endif %}

    {# Title #}

    .card__title {
      {{ module.styles.title.text.font.css }}
      {% if module.styles.title.alignment.alignment.horizontal_align %}
        text-align: {{ module.styles.title.alignment.alignment.horizontal_align }};
      {% endif %}
    }

    {# Content #}

    .card__content {
      {{ module.styles.content.text.font.css }}
      {% if module.styles.content.alignment.alignment.horizontal_align %}
        text-align: {{ module.styles.content.alignment.alignment.horizontal_align }};
      {% endif %}
    }

    {# Card #}

    .card {
      {% if module.styles.card.background.background_type == "color" and module.styles.card.background.color.color %}
        background-color: rgba({{ module.styles.card.background.color.color|convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
      {% elif module.styles.card.background.background_type == "gradient" %}
        background: {{ module.styles.card.background.gradient.css }};
      {% elif module.styles.card.background.background_type == "image" %}
        {{ module.styles.card.background.image.css }}
      {% endif %}
      {{ module.styles.card.border.border.css }}
      {% if module.styles.card.corner.radius %}
        border-radius: {{ module.styles.card.corner.radius ~ 'px' }};
      {% endif %}
      {{ module.styles.card.spacing.spacing.css }}
    }

  {% end_scope_css %}
</style>

{# Cards #}

<div class="cards">

  {# Loops through each card in the cards repeater #}

  {% for card in module.card %}
    <section class="cards__card card">
      {% if card.image.src %}
        {% set sizeAttrs = 'width="{{ card.image.width }}" height="{{ card.image.height }}"' %}
        {% if card.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif card.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ card.image.max_width }}" height="{{ card.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
        {% endif %}

         {% set loadingAttr = 'loading="{{ card.image.loading }}"' %}
        <img class="card__image" src="{{ card.image.src }}" alt="{{ card.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      <div class="card__text">
        {% if card.title %}
          <{{ card.title_heading_type }} class="card__title">{{ card.title }}</{{ card.title_heading_type }}>
        {% endif %}
        {% if card.text %}
          <p class="card__content">{{ card.text }}</p>
        {% endif %}
      </div>
    </section>
  {% endfor %}

</div>
