<!-- module: {{ label }} -->
{% if moduleCss %}
    <style data-module-css="{{ moduleName }}" data-position="head"></style>
{% endif %}
{% set varWidth = 'span12' %}
{% if width is defined %}
{% set varWidth = 'span' ~ width %}
{% endif %}

<div class="{{ varWidth }} widget-span widget-type-custom_widget dnd_area-dnd_partial-1-module-1-vertical-alignment module {{ name }}">
    <div class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module">
        {{ content }}
    </div>
</div>

{% if moduleJs %}
    <script data-module-js="{{ moduleName }}" data-position="head"></script>
{% endif %}
