<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends 'layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area'
    class='body-container body-container--contact',
    label='Main section'
  %}

    {# Banner Section #}
    {% dnd_section
      background_image= {
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/home-banner.jpg')
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h1 style="text-align: center; color: #FFF;">Contact Us</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Contact Information Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=4
          %}
            {% dnd_row
              margin={
                'bottom': 10
              }
            %}
              {% dnd_module
                  path='../modules/icon',
                  horizontal_alignment='CENTER',
                  icon_field={
                    'name': 'map-pin',
                    'type': 'SOLID'
                  },
                  accessibility={
                    'purpose': 'decorative'
                  }
                %}
                {% module_attribute 'style' %}
                  {
                    'size': 16,
                    'color': {
                      'color': '{{ theme.colors.primary.color }}'
                    }
                  }
                  {% end_module_attribute %}
                {% end_dnd_module %}

            {% end_dnd_row %}
            {% dnd_row
              margin={
                'bottom': 15
              }
            %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                    <div style="text-align: center;">
                      <h2>Address</h2>
                      <p><strong>Lorem ipsum dolor</strong><br>
                      111 Lorem Sit Amet, MA</p>
                    </div>
                  {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=4
          %}
            {% dnd_row
              margin={
                'bottom': 10
              }
            %}
              {% dnd_module
                path='../modules/icon',
                horizontal_alignment='CENTER',
                icon_field={
                  'name': 'phone',
                  'type': 'SOLID'
                },
                accessibility={
                  'purpose': 'decorative'
                }
              %}
              {% module_attribute 'style' %}
                {
                  'size': 24,
                  'color': {
                    'color': '{{ theme.colors.primary.color }}'
                  }
                }
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row
              margin={
                'bottom': 15
              }
            %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                  <div style="text-align: center;">
                      <h2>Phone</h2>
                      <p><strong>Lorem ipsum dolor</strong><br>
                      111.111.1111</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row
              margin={
                'bottom': 15
              }
            %}
              {% dnd_module
                path='../modules/icon',
                horizontal_alignment='CENTER',
                icon_field={
                  'name': 'envelope',
                  'type': 'SOLID'
                },
                accessibility={
                  'purpose': 'decorative'
                }
              %}
              {% module_attribute 'style' %}
                {
                  'size': 24,
                  'color': {
                    'color': '{{ theme.colors.primary.color }}'
                  }
                }
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row
              margin={
                'bottom': 15
              }
            %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                  <div style="text-align: center;">
                    <h2>Email</h2>
                    <p><strong>Lorem ipsum dolor</strong><br>
                    contact@session.co</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Contact Information Section #}

    {# Two Column With Form Section #}
    {% dnd_section %}
      {% dnd_module
        path='@hubspot/rich_text',
        width=6
      %}
        {% module_attribute 'html' %}
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae voluptas, odit, dolorem voluptatem dicta non rerum quia nostrum ducimus accusantium quaerat maxime magni magnam adipisci quidem asperiores! Blanditiis in et repudiandae quo animi incidunt exercitationem corporis magni nesciunt eaque.<p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae voluptas, odit, dolorem voluptatem dicta non rerum quia nostrum ducimus accusantium quaerat maxime magni magnam adipisci quidem asperiores! Blanditiis in et repudiandae quo animi incidunt exercitationem corporis magni nesciunt eaque.<p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae voluptas, odit, dolorem voluptatem dicta non rerum quia nostrum ducimus accusantium quaerat maxime magni magnam adipisci quidem asperiores! Blanditiis in et repudiandae quo animi incidunt exercitationem corporis magni nesciunt eaque.<p>
          </div>
        {% end_module_attribute %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/horizontal_spacer',
        offset=6,
        width=1
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/form',
        offset=7,
        width=5
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End Two Column With Form Section #}

  {% end_dnd_area %}
</main>
{% endblock %}
