<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends 'layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home-page', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      padding={
        'top': 200,
        'right': 20,
        'bottom': 200,
        'left': 20
      },
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/home-banner.jpg')
      },
      max_width=778,
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
          {% module_attribute 'html' %}
            <div style="text-align: center">
              <h1 style="color: #FFF;">Communicate <span style="font-weight: 400;">Your Way</span></h1>
              <p style="color: #FFF;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium.</p>
            </div>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/button',
            button_text='Subscribe',
            horizontal_alignment='CENTER'
          %}
          {% end_dnd_module%}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Two Column With Image Section #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h4>Dependable &amp; Affordable</h4>
              <h2>Brighten Your Day With Our Online Therapy Sessions</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/button',
            button_text='Get Started'
          %}
          {% end_dnd_module%}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image',
            img={
              'alt': 'Phone with a man using video chat and phone with a chat conversation',
              'loading': 'disabled',
              'max_height': 484,
              'max_width': 426,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/app-screens.png')
            },
            horizontal_alignment='RIGHT'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Two Column With Image Section #}

    {# Features Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h4>Our Features</h4>
                <h2>Why Choose Us?</h2>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          vertical_alignment='MIDDLE'
        %}
          {% dnd_column
            offset=0,
            width=4,
            margin={
              'bottom': 20
            }
          %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/linked_image',
                img={
                  'alt': 'Phone displaying the Session app chat screen',
                  'loading': 'lazy',
                  'max_height': 528,
                  'max_width': 318,
                  'size_type': 'auto_custom_max',
                  'src': get_asset_url('../images/phone.png')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=8
          %}
            {% dnd_row %}
              {% dnd_column
                offset=0,
                width=6
              %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 59,
                      'max_width': 52,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/licensed.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <h5>Licensed Therapists</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=6,
                width=6
              %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 59,
                      'max_width': 52,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/write.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <h5>Write From Anywhere</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_column
                offset=0,
                width=6
              %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 59,
                      'max_width': 52,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/chat-bubbles.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <h5>Immediate Responses</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=6,
                width=6
              %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 59,
                      'max_width': 52,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/shield.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <h5>Safe &amp; Confidential</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}

            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Features Section #}

    {# Recent Blog Posts Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='../modules/blog-post-listing' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Recent Blog Posts Section #}

    {# Two Column With Image Section #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=6,
        margin={
          'bottom': 20
        }
      %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h4>How It Works</h4>
              <h2>Take The Weight Off Your Shoulders</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/button',
            button_text='Get Started'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image',
            img={
              'alt': 'Desktop preview of the Session app',
              'loading': 'lazy',
              'max_height': 455,
              'max_width': 727,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/desktop.png')
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Two Column With Image Section #}

    {# Services Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h4>Services</h4>
                <h2>The Path To a Happier Life</h2>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=4,
            margin={
              'bottom': 20
            }
          %}
            {% dnd_row
              background_color='#FFF9E3',
              padding={
                'top': 32,
                'bottom': 32
              }
            %}
              {% dnd_column %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    horizontal_alignment='CENTER',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 52,
                      'max_width': 80,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/hormone.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <div style="text-align: center;">
                        <h3>Therapy for Teens</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><strong>$75/week</strong></p>
                      </div>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path='../modules/button',
                    button_text='Learn More',
                    horizontal_alignment='CENTER',
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=4,
            margin={
              'bottom': 20
            }
          %}
            {% dnd_row
              background_color='#EFF7FF',
              padding={
                'top': 32,
                'bottom': 32
              }
            %}
              {% dnd_column %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    horizontal_alignment='CENTER',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 47,
                      'max_width': 92,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/double-heart.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <div style="text-align: center;">
                        <h3>Couples Therapy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><strong>$125/week</strong></p>
                      </div>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path='../modules/button',
                    button_text='Learn More',
                    horizontal_alignment='CENTER',
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row
              background_color='#D2F5F0',
              padding={
                'top': 32,
                'bottom': 32
              }
            %}
              {% dnd_column %}
                {% dnd_row
                  margin={
                    'top': 0,
                    'bottom': 10
                  }
                %}
                  {% dnd_module path='@hubspot/linked_image',
                    horizontal_alignment='CENTER',
                    img={
                      'alt': '',
                      'loading': 'lazy',
                      'max_height': 52,
                      'max_width': 65,
                      'size_type': 'auto_custom_max',
                      'src': get_asset_url('../images/unlimited.svg')
                    }
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module path='@hubspot/rich_text' %}
                    {% module_attribute 'html' %}
                      <div style="text-align: center;">
                        <h3>Unlimited Therapy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><strong>$75/week</strong></p>
                      </div>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                {% dnd_module
                    path='../modules/button',
                    button_text='Learn More',
                    horizontal_alignment='CENTER',
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Services Section #}

    {# Testimonials Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h2>What They're Saying</h2>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/testimonial-slider',
            testimonial_slider = [
              {
                'content': 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non optio iure impedit saepe laudantium fugit, repellendus maiores, maxime unde deleniti.',
                'author': {
                  'author_name': 'Chris Sullivan'
                }
              },
              {
                'content': 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non optio iure impedit saepe laudantium fugit, repellendus maiores, maxime unde deleniti.',
                'author': {
                  'author_name': 'Chris Sullivan'
                }
              },
              {
                'content': 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non optio iure impedit saepe laudantium fugit, repellendus maiores, maxime unde deleniti.',
                'author': {
                  'author_name': 'Chris Sullivan'
                }
              }
            ]
            %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Testimonials Section #}

    {# Call to Action Section #}
    {% dnd_section
    %}
      {% dnd_column %}
        {% dnd_row
          background_color='#EFF7FF',
          padding={
            'top': 67,
            'right': 22,
            'bottom': 67,
            'left': 22
          }
        %}
          {% dnd_column
            offset=0,
            width=5
          %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/linked_image',
                img={
                  'alt': 'Woman working on her computer',
                  'loading': 'lazy',
                  'max_height': 318,
                  'max_width': 450,
                  'size_type': 'auto_custom_max',
                  'src': get_asset_url('../images/call-to-action.png')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=5,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
                {% module_attribute 'html' %}
                  <h4>Want more info?</h4>
                  <h2>See How Sessions Can Change Your Life</h2>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                  path='../modules/button',
                  button_text='Let\'s Chat'
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Call to Action Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}
