<!--
  templateType: section
  label: Cards
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/cards.png
  description: "Middle centered heading above three cards, containing an image and text each."
-->
{% dnd_section %}
  {% dnd_column %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/rich_text',
        html='<div style="text-align: center;"><h1>Contact us</h1></div>'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path='../modules/card',
        card=[
          {
            'image': {
              'alt': 'Phone number',
              'loading': 'disabled',
              'max_height': 230,
              'max_width': 230,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/phone.png')
            },
            'text': '(887) 929-0687',
            'title': '',
            'title_heading_type': 'h2'
          },
          {
            'image': {
              'alt': 'Email',
              'loading': 'disabled',
              'max_height': 230,
              'max_width': 230,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/email.png')
            },
            'text': 'contact@business.com',
            'title': '',
            'title_heading_type': 'h2'
          },
          {
            'image': {
              'alt': 'Address',
              'loading': 'disabled',
              'max_height': 230,
              'max_width': 230,
              'size_type': 'auto_custom_max',
              'src': get_asset_url('../images/location.png')
            },
            'text': '2 Canal Park, Cambridge, MA 02141',
            'title': '',
            'title_heading_type': 'h2'
          }
        ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
