<!--
  templateType: section
  label: Multi-column content
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/multi-column-content.png
  description: "Full size background color section separated in three columns with with an image and text in each."
-->
{% dnd_section
  background_color='#f8fafc',
  vertical_alignment='MIDDLE'
%}
  {% dnd_column
    offset=0,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/linked_image',
        img={
          'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
          'loading': 'lazy',
          'max_height': 451,
          'max_width': 605,
          'size_type': 'auto_custom_max',
          'src': get_asset_url('../images/grayscale-mountain.png')
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/rich_text',
        html='<h3>Feature one</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=4,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/linked_image',
        img={
          'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
          'loading': 'lazy',
          'max_height': 451,
          'max_width': 605,
          'size_type': 'auto_custom_max',
          'src': get_asset_url('../images/grayscale-mountain.png')
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/rich_text',
        html='<h3>Feature two</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=8,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/linked_image',
        img={
          'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
          'loading': 'lazy',
          'max_height': 451,
          'max_width': 605,
          'size_type': 'auto_custom_max',
          'src': get_asset_url('../images/grayscale-mountain.png')
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/rich_text',
        html='<h3>Feature three</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
