<!--
  templateType: section
  label: Multi-row content
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/multi-row-content.png
  description: "Section separated in two columns. Left column has text and right column has an image."
-->
{% dnd_section
  vertical_alignment='MIDDLE'
%}
  {% dnd_module
    path='@hubspot/rich_text',
    html='<h2>Provide more details here.</h2><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>',
    offset=0,
    width=6
  %}

  {% end_dnd_module %}
  {% dnd_module path='@hubspot/linked_image',
    img={
      'alt': 'Stock1 placeholder image with grayscale geometrical mountain landscape',
      'loading': 'disabled',
      'max_height': 451,
      'max_width': 605,
      'size_type': 'auto_custom_max',
      'src': get_asset_url('../images/grayscale-mountain.png')
    },
    offset=6,
    width=6
  %}
  {% end_dnd_module %}
{% end_dnd_section %}
