<!--
  templateType: section
  label: Pricing
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/pricing.png
  description: "Middle centered heading above three pricing cards, containing a subheading, description, and button each."
-->
{% dnd_section %}
  {% dnd_column %}
    {% dnd_row %}
      {% dnd_module
        path='@hubspot/rich_text',
        html='<div style="text-align: center;"><h1>Pricing</h1></div>'
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path='../modules/pricing-card',
        button_text='Buy starter',
        description='For individuals or team just getting started with sales.',
        features=[
          'Ad management',
          'Live chat',
          'Conversational bots',
          'Forms',
          'Pop-up forms',
          'Contact website activity',
          'List segmentation',
          'Email marketing',
          'Ad retargeting'
        ],
        offset=0,
        price='$0',
        tier='Starter',
        tier_heading_type='h2',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='../modules/pricing-card',
        button_text='Buy professional',
        description='For teams that need to create sales plans with confidence.',
        features=[
          'Marketing automation',
          'Smart content',
          'Content creation tools',
          'SEO & content strategy',
          'Social media',
          'A/B testing',
          'Landing pages',
          'Calls-to-action',
          'Video hosting'
        ],
        offset=4,
        price='$1200',
        tier='Professional',
        tier_heading_type='h2',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='../modules/pricing-card',
        button_text='Buy enterprise',
        description='For teams that need additional security, control, and support.',
        features=[
          'Content partitioning',
          'Hierarchical teams',
          'Single sign-on',
          'Social permissions',
          'Additional domains',
          'Email send frequency cap',
          'Calculated properties',
          'CMS membership',
          'Filtered analytics view'
        ],
        offset=8,
        price='$3200',
        tier='Enterprise',
        tier_heading_type='h2',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
