{% set gridGutterWidth = 20 %}
{% set columnCount = 12 %}
{% set rowColumnCount = 6 %}

{% set breakpoints = {
    sm : 576,
    md : 768,
    lg : 992,
    xl : 1140,
    xxl : 1400
} %}

{% set spacers = {
    '0': 0,
    '1': '0.25rem',
    '2': '0.5rem',
    '4': '1rem',
    '8': '1.5rem',
    '16': '3rem',
    'auto': 'auto'
} %}
/*!
* Bootstrap Grid v5.1.0 (https://getbootstrap.com/)
* Copyright 2011-2021 The Bootstrap Authors
* Copyright 2011-2021 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
*/

:root {
{% for key, val in breakpoints.items() %}
    --breakpoint-{{ key }}-down: {{ val -1 }}px;
    --breakpoint-{{ key }}-up: {{ val }}px;
{% endfor %}
}

.container,
{% for key, val in breakpoints.items() %}
    .container-{{ key }},
{% endfor %}
.container-fluid {
    width: 100%;
    padding-right: var(--spacer-s, 0.75rem);
    padding-left: var(--spacer-s, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: {{ theme.spacing.maximum_content_width ~ 'px' }}
}

.row {
display: flex;
flex-wrap: wrap;
margin-top: 0;
margin-right: calc(var(--spacer-m) * -.5);
margin-left: calc(var(--spacer-m) * -.5);
}
.row > * {
box-sizing: border-box;
flex-shrink: 0;
width: 100%;
max-width: 100%;
padding-right: calc(var(--spacer-m) * .5);
padding-left: calc(var(--spacer-m) * .5);
margin-top: 0;
}

.col {
flex: 1 0 0;
}

.col-auto {
flex: 0 0 auto;
width: auto;
}

{% for i in range(1, columnCount|add(1)) %}
    {% set colwidth = (100/columnCount) * i %}
    .col-{{ i }} {
    flex: 0 0 auto;
    width: {{ colwidth }}%;
    }
{% endfor %}


/** responsive breakpoints **/
{% for breakpointKey, value in breakpoints.items() %}

    @media (min-width: {{ value }}px) {
    .col-{{ breakpointKey }} {
    flex: 1 0 0%;
    }

    {% for i in range(1, columnCount|add(1)) %}
        {% set colwidth = (100/columnCount) * i %}
        .col-{{ breakpointKey }}-{{ i }} {
        flex: 0 0 auto;
        width: {{ colwidth }}%;
        }
    {% endfor %}

    }
{% endfor %}


.d-inline {
display: inline !important;
}

.d-inline-block {
display: inline-block !important;
}

.d-block {
display: block !important;
}

.d-grid {
display: grid !important;
}

.d-table {
display: table !important;
}

.d-table-row {
display: table-row !important;
}

.d-table-cell {
display: table-cell !important;
}

.d-flex {
display: flex !important;
}

.d-inline-flex {
display: inline-flex !important;
}

.d-none {
display: none !important;
}

.flex-fill {
flex: 1 1 auto !important;
}

.flex-row {
flex-direction: row !important;
}

.flex-column {
flex-direction: column !important;
}

.flex-row-reverse {
flex-direction: row-reverse !important;
}

.flex-column-reverse {
flex-direction: column-reverse !important;
}

.flex-grow-0 {
flex-grow: 0 !important;
}

.flex-grow-1 {
flex-grow: 1 !important;
}

.flex-shrink-0 {
flex-shrink: 0 !important;
}

.flex-shrink-1 {
flex-shrink: 1 !important;
}

.flex-wrap {
flex-wrap: wrap !important;
}

.flex-nowrap {
flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
flex-wrap: wrap-reverse !important;
}

.justify-content-start {
justify-content: flex-start !important;
}

.justify-content-end {
justify-content: flex-end !important;
}

.justify-content-center {
justify-content: center !important;
}

.justify-content-between {
justify-content: space-between !important;
}

.justify-content-around {
justify-content: space-around !important;
}

.justify-content-evenly {
justify-content: space-evenly !important;
}

.align-items-start {
align-items: flex-start !important;
}

.align-items-end {
align-items: flex-end !important;
}

.align-items-center {
align-items: center !important;
}

.align-items-baseline {
align-items: baseline !important;
}

.align-items-stretch {
align-items: stretch !important;
}

.align-content-start {
align-content: flex-start !important;
}

.align-content-end {
align-content: flex-end !important;
}

.align-content-center {
align-content: center !important;
}

.align-content-between {
align-content: space-between !important;
}

.align-content-around {
align-content: space-around !important;
}

.align-content-stretch {
align-content: stretch !important;
}

.align-self-auto {
align-self: auto !important;
}

.align-self-start {
align-self: flex-start !important;
}

.align-self-end {
align-self: flex-end !important;
}

.align-self-center {
align-self: center !important;
}

.align-self-baseline {
align-self: baseline !important;
}

.align-self-stretch {
align-self: stretch !important;
}

{% for breakpointKey, value in breakpoints.items() %}
    @media (min-width: {{ value }}px) {
    .d-{{ breakpointKey }}-inline {
    display: inline !important;
    }

    .d-{{ breakpointKey }}-inline-block {
    display: inline-block !important;
    }

    .d-{{ breakpointKey }}-block {
    display: block !important;
    }

    .d-{{ breakpointKey }}-grid {
    display: grid !important;
    }

    .d-{{ breakpointKey }}-table {
    display: table !important;
    }

    .d-{{ breakpointKey }}-table-row {
    display: table-row !important;
    }

    .d-{{ breakpointKey }}-table-cell {
    display: table-cell !important;
    }

    .d-{{ breakpointKey }}-flex {
    display: flex !important;
    }

    .d-{{ breakpointKey }}-inline-flex {
    display: inline-flex !important;
    }

    .d-{{ breakpointKey }}-none {
    display: none !important;
    }

    .flex-{{ breakpointKey }}-fill {
    flex: 1 1 auto !important;
    }

    .flex-{{ breakpointKey }}-row {
    flex-direction: row !important;
    }

    .flex-{{ breakpointKey }}-column {
    flex-direction: column !important;
    }

    .flex-{{ breakpointKey }}-row-reverse {
    flex-direction: row-reverse !important;
    }

    .flex-{{ breakpointKey }}-column-reverse {
    flex-direction: column-reverse !important;
    }

    .flex-{{ breakpointKey }}-grow-0 {
    flex-grow: 0 !important;
    }

    .flex-{{ breakpointKey }}-grow-1 {
    flex-grow: 1 !important;
    }

    .flex-{{ breakpointKey }}-shrink-0 {
    flex-shrink: 0 !important;
    }

    .flex-{{ breakpointKey }}-shrink-1 {
    flex-shrink: 1 !important;
    }

    .flex-{{ breakpointKey }}-wrap {
    flex-wrap: wrap !important;
    }

    .flex-{{ breakpointKey }}-nowrap {
    flex-wrap: nowrap !important;
    }

    .flex-{{ breakpointKey }}-wrap-reverse {
    flex-wrap: wrap-reverse !important;
    }

    .justify-content-{{ breakpointKey }}-start {
    justify-content: flex-start !important;
    }

    .justify-content-{{ breakpointKey }}-end {
    justify-content: flex-end !important;
    }

    .justify-content-{{ breakpointKey }}-center {
    justify-content: center !important;
    }

    .justify-content-{{ breakpointKey }}-between {
    justify-content: space-between !important;
    }

    .justify-content-{{ breakpointKey }}-around {
    justify-content: space-around !important;
    }

    .justify-content-{{ breakpointKey }}-evenly {
    justify-content: space-evenly !important;
    }

    .align-items-{{ breakpointKey }}-start {
    align-items: flex-start !important;
    }

    .align-items-{{ breakpointKey }}-end {
    align-items: flex-end !important;
    }

    .align-items-{{ breakpointKey }}-center {
    align-items: center !important;
    }

    .align-items-{{ breakpointKey }}-baseline {
    align-items: baseline !important;
    }

    .align-items-{{ breakpointKey }}-stretch {
    align-items: stretch !important;
    }

    .align-content-{{ breakpointKey }}-start {
    align-content: flex-start !important;
    }

    .align-content-{{ breakpointKey }}-end {
    align-content: flex-end !important;
    }

    .align-content-{{ breakpointKey }}-center {
    align-content: center !important;
    }

    .align-content-{{ breakpointKey }}-between {
    align-content: space-between !important;
    }

    .align-content-{{ breakpointKey }}-around {
    align-content: space-around !important;
    }

    .align-content-{{ breakpointKey }}-stretch {
    align-content: stretch !important;
    }

    .align-self-{{ breakpointKey }}-auto {
    align-self: auto !important;
    }

    .align-self-{{ breakpointKey }}-start {
    align-self: flex-start !important;
    }

    .align-self-{{ breakpointKey }}-end {
    align-self: flex-end !important;
    }

    .align-self-{{ breakpointKey }}-center {
    align-self: center !important;
    }

    .align-self-{{ breakpointKey }}-baseline {
    align-self: baseline !important;
    }

    .align-self-{{ breakpointKey }}-stretch {
    align-self: stretch !important;
    }
    }
{% endfor %}

@media print {
.d-print-inline {
display: inline !important;
}

.d-print-inline-block {
display: inline-block !important;
}

.d-print-block {
display: block !important;
}

.d-print-grid {
display: grid !important;
}

.d-print-table {
display: table !important;
}

.d-print-table-row {
display: table-row !important;
}

.d-print-table-cell {
display: table-cell !important;
}

.d-print-flex {
display: flex !important;
}

.d-print-inline-flex {
display: inline-flex !important;
}

.d-print-none {
display: none !important;
}
}
