{% set primary_color = theme.global_brand.primary_color.color  %}
{% set secondary_color = theme.global_brand.secondary_color.color %}
{% set tertiary_color = theme.global_brand.tertiary_color.color %}
:root {
    --primary: {{ primary_color }};
    --secondary: {{ secondary_color }};
    --tertiary: {{ tertiary_color }};
}
