{% set container_width = theme.spacing.maximum_content_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '0' %}

.content-wrapper {
  margin: 0 auto;
  max-width: {{ container_width }};
  padding: 0 1rem;
}

.body-container.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: {{ container_width }};
}

.dnd-section .dnd-column {
  padding: 0 1rem;
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{ dnd_section_padding }};
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}
